@using Not.Blazor.Components.Buttons
@using Not.Blazor.Components.Input
@using Not.Blazor.Components.Layout
@using NTS.Domain.Aggregates

@attribute [Route(PROFILE_PAGE)]
@inherits ProfileContentBehind

<NContent Title="@Profile_page_string" IsLoading="@IsLoading" Class="not-mid-width">
    <Main>
        <MudStack Spacing="3">
            <NTextField @bind-Value="Model.GivenName"
                        For="() => Model.GivenName"
                        Label="@First_name_string"
                        Required />

            <NTextField @bind-Value="Model.MiddleName"
                        For="() => Model.MiddleName"
                        Label="@Middle_name_string" />

            <NTextField @bind-Value="Model.Surname"
                        For="() => Model.Surname"
                        Label="@Last_name_string"
                        Required />

            <NAutocomplete @bind-Value="Model.Country"
                           For="() => Model.Country"
                           Label="@Country_string"
                           SearchSafe="SearchCountriesSafe"
                           ToStringFunc="@(country => country?.Name ?? string.Empty)"
                           Required />

            <NTextField @bind-Value="Model.Club"
                        For="() => Model.Club"
                        Label="@Club_string" />

            <NTextField @bind-Value="Model.FeiId"
                        For="() => Model.FeiId"
                        Label="@FEI_Id_string" />

            <MudStack Row Justify="Justify.FlexEnd">
                <NButtonPrimary Text="@Save_string"
                                StartIcon="@Icons.Material.Filled.Save"
                                Disabled="@(!CanSave)"
                                OnClick="Save" />
            </MudStack>
        </MudStack>
    </Main>
</NContent>
