
@namespace Not.Blazor.Components
@inherits MudSimpleTable
@typeparam T where T : class

<MudSimpleTable Style="@("overflow-x: auto; max-height:"+Height)" FixedHeader="FixedHeader">
    <thead>
        <tr>
            @foreach (var heading in Headings)
            {
                <th class="@_class">@heading</th>
            }
        </tr>
    </thead>
    <tbody>
        @if(Items.Count() == 0)
        {
            <MudText Typo="Typo.body1" Class="pa-4">@EmptyMessage</MudText>
        }
        @foreach (var item in Items)
        {
            var itemToString = item.ToString();
            GuardHelper.ThrowIfDefault(itemToString);
            <tr>
                @foreach (var cellValue in itemToString.Split("|"))
                {
                    <td class="@_class">@cellValue</td>
                }
                @if (CustomCell != default)
                {
                    <td>
                        @CustomCell.Invoke(item)
                    </td>
                }                   
            </tr>
        }
    </tbody>
</MudSimpleTable>
<style>
    .mobile{
        display: flex;
        justify-content: center;
        font-size: 12px !important;
    }
</style>