@using NTS.Blazor.Components.ParticipationChips
@using NTS.Witness.Blazor.Features.Core.Snapshots.Components
@using MudBlazor
@using Not.Blazor.Components.Buttons
@using Not.Blazor.Components.Layout

@attribute [Route(SNAPSHOT_PAGE)]
@inherits SnapshotContentBehind

<NContent Title="@Snapshot_page_string">

    <Main>
        <MudStack Spacing="4">

            <SnapshotComponent Snapshots="@Snapshots" />

            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <ParticipationChips Participations="@Participations"
                                    SelectedChanged="@MoveToSnapshot" />
            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <ParticipationChips Participations="@Participations"
                                    SelectedChanged="@MoveToSnapshot"
                                    Compact />
            </MudHidden>

        </MudStack>
    </Main>

    <Main2>
        <SnapshotHistory />
    </Main2>

    <Rightbar>
        <NMultiButton Descriptors="@PublishDescriptors"
                      Disabled="CapturedSnapshotsCount == 0"
                      MaxWidth />
    </Rightbar>

</NContent>
