@using NTS.Witness.Blazor.Features.Core.Snapshots.Components
@using Not.Blazor.Components.Buttons
@using Not.Blazor.Components.Layout

@attribute [Route(SNAPSHOT_PAGE)]
@inherits SnapshotContentBehind

<NContent Title="@Snapshot_page_string">

    <Main>
        <MudStack Spacing="4">

            <Snapshot Snapshots="@Snapshots"
                      EmptyMessage="@Empty_intermediate_snapshot_list_string"
                      Headings="@SnapshotTableHeaders"
                      SnapshotText="@Snapshot_string"
                      OnCapture="@SnapshotHandler"
                      OnEdit="@EditSnapshot" />

            <SnapshotChips Participations="@Participations"
                           SelectedChanged="@MoveToSnapshot" />

        </MudStack>
    </Main>

    <Main2>
        <SnapshotHistory />
    </Main2>

    <Rightbar>
        <NMultiButton Descriptors="@PublishDescriptors"
                      Disabled="@(!HasReadySnapshots || IsPublishing)"
                      MaxWidth />
    </Rightbar>

</NContent>
