@using MudBlazor
@using NTS.Blazor.Components.ParticipationChips
@using NTS.Domain.Watcher
@using Not.Blazor.Components.Layout

@attribute [Route(HOME)]
@attribute [Route(SNAPSHOT_PAGE)]
@inherits SnapshotContentBehind

<NContent Title="@Snapshot_page_string">

    <Main>
        <MudStack Spacing="4">
            <MudPaper Class="justify-center pa-2">
                <ParticipationChips Participations="@Participations"
                                    SelectedChanged="@MoveToSnapshot" />
            </MudPaper>

            <NTable Items="@Snapshots"
                    EmptyMessage="@Empty_intermediate_snapshot_list_string"
                    Headings="@SnapshotTableHeaders">
                <TrailingCell Context="item">
                    @{
                        var context = (Snapshot)item;
                    }

                    @if (context.Timestamp == null)
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="() => SnapshotHandler(context)">@Snapshot_string</MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" OnClick="() => EditSnapshot(context)">@context.Timestamp</MudButton>
                    }
                </TrailingCell>
            </NTable>

            <SnapshotHistory />
        </MudStack>
    </Main>

    <Rightbar>
        <MudPaper Elevation="0" Class="pa-4">
            <MudStack Spacing="2">
                <MudText Typo="Typo.overline">@string.Format(Send_snapshot_string, ReadySnapshotCount)</MudText>

                <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                    <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                        <MudMenuItem OnClick="() => SetButtonText(0)">@Arrival_string</MudMenuItem>
                        <MudMenuItem OnClick="() => SetButtonText(1)">@Vetin_string</MudMenuItem>
                    </MudMenu>

                    <MudButton Disabled="@(!HasReadySnapshots)" OnClick="() => SendHandler(ButtonText)">@ButtonText</MudButton>
                </MudButtonGroup>
            </MudStack>
        </MudPaper>
    </Rightbar>

</NContent>
