@attribute [Route(HOME)]

@using MudBlazor
@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Features.Setup.UpcomingEvents
@using NTS.Judge.Blazor.Features.Setup.UpcomingEvents
@using Not.Blazor.Components.Layout
@using Not.Krud.Blazor.Components

@inherits HomeContentBehind

<NContent Title="@Select_event_string">
   
    <Main>
        <KrudList T="UpcomingEvent" TModel="UpcomingEventFormModel" TShell="UpcomingEventShell" Name="@Upcoming_events_string" CanUpdate="ShowEditButton">
            <CustomAction1 Context="upcomingEvent">
                @if (ShowStartButton(upcomingEvent))
                {
                    <NButtonWarning
                        OnClick="() => Start(upcomingEvent)"
                        Text="@Start_string"
                        StartIcon="@Icons.Material.Filled.NotStarted" />
                }
            </CustomAction1>

            <CustomAction2 Context="upcomingEvent">
                @if (ShowResetTimingButton(upcomingEvent))
                {
                    <NButtonDanger
                        OnClick="() => OpenResetTimingDialog(upcomingEvent)"
                        Text="@Reset_string" />
                }
            </CustomAction2>
        </KrudList>
    </Main>
    
</NContent>

    
