@attribute [Route(HOME)]

@using MudBlazor
@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Contracts.Features.Setup.ConfigureEvents
@using NTS.Judge.Blazor.Features.Setup.ConfigureEvents
@using Not.Blazor.Components.Layout
@using Not.Krud.Blazor.Components

@inherits HomeContentBehind

<NContent Title="@Select_event_string">
   
    <Main>
        <KrudList T="ConfigureEvent" TModel="ConfigureEventFormModel" TShell="ConfigureEventShell" Name="@Configure_events_string" CanUpdate="ShowEditButton" AllowCreate AllowUpdate>
            <CustomAction1 Context="configureEvent">
                @if (ShowStartButton(configureEvent))
                {
                    <NButtonWarning
                        OnClick="() => Start(configureEvent)"
                        Text="@Start_string"
                        StartIcon="@Icons.Material.Filled.NotStarted" />
                }
            </CustomAction1>

            <CustomAction2 Context="configureEvent">
                @if (ShowResetTimingButton(configureEvent))
                {
                    <NButtonDanger
                        OnClick="() => OpenResetTimingDialog(configureEvent)"
                        Text="@Reset_string" />
                }
            </CustomAction2>
        </KrudList>
    </Main>
    
</NContent>

    
