
@namespace Not.Blazor.Components
@inherits MudSimpleTable
@typeparam T where T : class

<MudSimpleTable Style="@("overflow-x: auto; max-height:"+Height)" FixedHeader="FixedHeader">
    <thead>
        <tr>
            @foreach (var heading in Headings)
            {
                <th>
                    <MudText Typo="@Typography">@heading</MudText>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @if(Items.Count() == 0)
        {
            <MudPaper Elevation="0" Class="pa-4">
                <MudText Typo="@Typography">@EmptyMessage</MudText>
            </MudPaper>
        }
        @foreach (var item in Items)
        {
            var itemToString = item.ToString();
            GuardHelper.ThrowIfDefault(itemToString);
            <tr>
                @foreach (var cellValue in itemToString.Split("|"))
                {
                    <td>
                        <MudText Typo="@Typography">@cellValue</MudText>
                    </td>
                }
                @if (CustomCell != default)
                {
                    <td>
                        @CustomCell.Invoke(item)
                    </td>
                }                   
            </tr>
        }
    </tbody>
</MudSimpleTable>