@using System.Reflection
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components
@using NTS.Witness.Web.Components.Layout
@using Not.Blazor.Components

<NErrorBoundary @ref="@_errorBoundary">
    <ChildContent>
        <CascadingAuthenticationState>
            <Router AppAssembly="@_appAssembly" AdditionalAssemblies="@_routeAssemblies">

                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <NotAuthorized>
                            <h1 class="d-flex justify-center align-center">You have no power here!</h1>
                        </NotAuthorized>
                    </AuthorizeRouteView>
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                </Found>

                <NotFound>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert">Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </NotFound>
            </Router>
        </CascadingAuthenticationState>
    </ChildContent>

    <ErrorContent>
        <br />
        <br />
        <div class="container">
            <pre>@context.Message</pre>
            <pre>@context.StackTrace</pre>
        </div>

        <button class="btn btn-primary" @onclick="_ => this._errorBoundary.Recover()">Back</button>
    </ErrorContent>
</NErrorBoundary>
