@using System.Reflection
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using NTS.Witness.Blazor.Layout
@using Not.Blazor.Client.Authentication.Components

@inherits WitnessBlazorRootBehind

<ErrorBoundary @ref="@ErrorBoundary">
    <ChildContent>
        <CascadingAuthenticationState>
            <Router AppAssembly="@Assembly" AdditionalAssemblies="@RouteAssemblies">

                <Found Context="routeData">

                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <NotAuthorized>
                            <AuthenticateContent />
                        </NotAuthorized>
                    </AuthorizeRouteView>

                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />

                </Found>

                <NotFound>

                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert">@Sorry_theres_nothing_at_this_address_string</p>
                    </LayoutView>

                </NotFound>
            </Router>
        </CascadingAuthenticationState>
    </ChildContent>

    <ErrorContent>
        <br />
        <br />
        <div class="container">
            <pre>@context.Message</pre>
            <pre>@context.StackTrace</pre>
        </div>

        <button class="btn btn-primary" @onclick="@(() => ErrorBoundary.Recover())">@Back_string</button>
    </ErrorContent>
</ErrorBoundary>
