@using NTS.Judge.Blazor.Core.Handouts.Documents
@using NTS.Judge.Blazor.Core.Handouts.Form

@attribute [Route(HANDOUTS_PAGE)]
@inherits HandoutsPageBehind

<NContent Title="@Handouts_string" HasContent="@Service.Documents.Any()" EmptyMessage="@Handouts_list_empty_message_string" RightBarXS="2">

    <Main>
        <HandoutsList Documents="Service.Documents" />
    </Main>

    <Rightbar>
        <NTextDivider Text="@Export_string" />
        <NotButtonPrint Text="@Print_Preview_string" OnClick="OpenPrintPreview" />

        <NTextDivider Text="@Manual_handout_strings" Class="mt-4" />
        <HandoutForm />
    </Rightbar>

</NContent>
