
@inherits NTableBehind

<MudSimpleTable @attributes="UserAttributes" Class="@CombineClass("n-table")" Style="@($"overflow-x: auto; {Style}")" FixedHeader="FixedHeader">
    <colgroup>
        @if (HasLeadingCell)
        {
            <col style="@LeadingColumnStyle" />
        }
        @foreach (var _ in Headings)
        {
            <col style="@StretchColumnStyle" />
        }
        @if (HasTrailingCell)
        {
            <col style="@TrailingColumnStyle" />
        }
    </colgroup>
    <thead>
        <tr>
            @if (HasLeadingCell)
            {
                <th style="@LeadingCellStyle">
                    <MudText Typo="@Typography">@LeadingHeading</MudText>
                </th>
            }
            @for (var index = 0; index < Headings.Length; index++)
            {
                var heading = Headings[index];
                <th>
                    @if (HeadingCell is null)
                    {
                        <MudText Typo="@Typography">@heading</MudText>
                    }
                    else
                    {
                        @HeadingCell(index)
                    }
                </th>
            }
            @if (HasTrailingCell)
            {
                <th style="@TrailingCellStyle">
                    <MudText Typo="@Typography">-</MudText>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @if (!Items.Any())
        {
            <tr>
                <td colspan="@TotalColumnCount">
                    <MudPaper Elevation="0" Class="pa-4">
                        <MudText Typo="@Typography">@EmptyMessage</MudText>
                    </MudPaper>
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Items)
            {
                <tr>
                    @if (HasLeadingCell)
                    {
                        @if (LeadingCellAsHeader)
                        {
                            <th scope="row" style="@LeadingCellStyle">
                                @LeadingCell!.Invoke(item)
                            </th>
                        }
                        else
                        {
                            <td style="@LeadingCellStyle">
                                @LeadingCell!.Invoke(item)
                            </td>
                        }
                    }
                    @foreach (var value in Transform(item))
                    {
                        <td>
                            <MudText Typo="@Typography">@value</MudText>
                        </td>
                    }
                    @if (HasTrailingCell)
                    {
                        <td style="@TrailingCellStyle">
                            @TrailingCell!.Invoke(item)
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</MudSimpleTable>
