@using NTS.Judge.Blazor.Core.Rankings.Menu
@using NTS.Judge.Blazor.Core.Rankings.Protocols
@using NTS.Judge.Blazor.Core.Rankings.Ranklists

@attribute [Route(RANKLIST_PAGE)]
@inherits RankingsPageBehind

<NContent Title="@Ranklist_string"
    Class="@Class"
    HasContent="@HasContent" 
    EmptyMessage="@The_Competitions_havent_started_yet_string">
    @* // TODO: Add Start button in EmptyContent *@

    <Main>
        @if (IsProtocolVisible)
        {
           <Protocol />
        }
        else
        {
            <RanklistTable />
        }
    </Main>

    <Rightbar>
        <MudButtonGroup OverrideStyles="false" Variant="Variant.Outlined" Class="align-center">
            <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown"
                     Color="Color.Primary"
                     Variant="Variant.Outlined"
                     Class="sidebar-menu-button align-center"
                     Style="align-self:auto">

                <MudMenuItem OnClick="ShowProtocol">@Protocol_string</MudMenuItem>
                
                <MudMenuItem OnClick="ShowRanklist">@Ranklist_string</MudMenuItem>
            </MudMenu>

            <NotButtonPrint OnClick="OpenPrintDialog" />
        </MudButtonGroup>
        
        <NTextDivider Text="@Actions_string" Class="mt-4" />

        <MudStack Row Wrap="Wrap.Wrap">
            <NButtonPrimary OnClick="ArchiveEnduranceEvent" Text="@Archive_string" StartIcon="@Icons.Material.Filled.Archive"/>
            
            @if (IsFeiExportConfigured)
            {
                <NButtonPrimary OnClick="GenerateFeiExport" Text="@Export_FEI_string" StartIcon="@Icons.Material.Filled.ImportExport"/> 
            }
            
            <NButtonSecondary OnClick="OpenCustomRankingDialog" Text="@Custom_ranking_string" StartIcon="@Icons.Material.Filled.Add"/>
        </MudStack>

        <RankingMenu Class="mt-4"/>
    </Rightbar>

</NContent>

<style>
    .sidebar-menu-button > button.mud-button-root {
        padding-top: 6px !important;
        padding-bottom: 5px !important;
    }
</style>
