@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Blazor.Setup.AthletesHorses.Athletes
@using NTS.Judge.Blazor.Setup.AthletesHorses.Horses
@using NTS.Judge.Features.Setup.Athletes
@using NTS.Judge.Features.Setup.Horses
@using Not.Krud.Blazor
@using Not.Krud.Blazor.Components

@attribute [Route(ATHLETES_HORSES_PAGE)]
@inherits NComponent

<NContent Title="@Athletes_and_Horses_string">

    <Main>
        <MudGrid Spacing="8" Style="margin-top:0!important;">
            <MudItem xs="6">
                <KrudList T="Athlete" Name="@Athletes_string" TForm="AthleteForm" TModel="AthleteFormModel" UpdateRoute="@ATHLETE_UPDATE" />
            </MudItem>
            
            <MudItem xs="6">
                <KrudList T="Horse" Name="@Horses_string" TForm="HorseForm" TModel="HorseFormModel" UpdateRoute="@HORSE_UPDATE" />
            </MudItem>
        </MudGrid>
    </Main>

</NContent>
