@using NTS.Blazor.Components.ParticipationTable
@using NTS.Domain.Core.Aggregates.Participations
@using NTS.Domain.Objects
@using Not.Blazor.Components.Input
@using Not.Blazor.Components.Layout

@attribute [Route(PERFORMANCE_PAGE)]
@inherits PerformanceContentBehind

<NContent Title="@Performance_string">

    <Main>
        <MudStack AlignItems="AlignItems.Center">
            <MudGrid Justify="Justify.Center">
                <MudItem lg="4" md="6" sm="8" xs="10" Class="mt-10">
                    <NSelect T="Person"
                             Items="@People"
                             Label="@Select_athlete_string"
                             Value="@SelectedPerson"
                             ValueChanged="OnPersonChanged" />
                </MudItem>
            </MudGrid>

            @if (Participation != null)
            {
                <NHeadline3 Class="mx-10 mt-10 mb-8" Content="@Participation.ToString()" />

                <ParticipationTable Class="mb-10" Phases="Participation.Phases" Editable="false" />
            }
            else
            {
                <NHeadline3 Class="mx-10 mt-20" Content="@Empty_performance_competitor_message" />
                <NHeadline3 Class="mx-10 mt-20" Content="@Empty_performance_official_message" />
            }
        </MudStack>
    </Main>

</NContent>
