@using NTS.Domain.Setup.Aggregates
@using NTS.Domain.Setup.Aggregates.UpcomingEvents
@using NTS.Judge.Blazor.Setup.EnduranceEvents.Competitions
@using NTS.Judge.Blazor.Setup.EnduranceEvents.Officials
@using NTS.Judge.Features.Setup.UpcomingEvents
@using NTS.Judge.Features.Setup.UpcomingEvents.Competitions
@using NTS.Judge.Features.Setup.UpcomingEvents.Officials
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.CRUD.Lists

@attribute [Route(ENDURANCE_EVENT_PAGE)]
@inherits NComponent

<NContent Title="@Configure_Endurance_Event_string" HasContent="_upcomingEvent != null" EmptyMessage="@Endurance_Event_does_not_exist_yet_string"> @* TODO: remove string *@

    <Main>
        <NUpdateContainer T="UpcomingEventFormModel" TForm="EnduranceEventForm" Model="_upcomingEvent" DisableBack />
    </Main>

    <Main2>
        <NGrid Spacing="8">

            <MudItem xs="6">
                <CrudList T="Competition" Name="@Competitions_string" TModel="CompetitionFormModel" TForm="CompetitionForm" UpdateRoute="@COMPETITION_UPDATE" />
            </MudItem>

            <MudItem xs="6">
                <CrudList T="Official" Name="@Officials_string" TModel="OfficialFormModel" TForm="OfficialForm" UpdateRoute="@OFFICIAL_UPDATE" />
            </MudItem>

        </NGrid>
    </Main2>

</NContent>
