@using NTS.Domain.Setup.Aggregates.UpcomingEvents
@using NTS.Judge.Blazor.Features.Setup.Combinations
@using NTS.Judge.Blazor.Features.Setup.Loops
@using NTS.Judge.Blazor.Features.Setup.UpcomingEvents.Competitions
@using NTS.Judge.Blazor.Features.Setup.UpcomingEvents.Officials
@using NTS.Judge.Contracts.Features.Setup.UpcomingEvents.Combinations
@using NTS.Judge.Contracts.Features.Setup.UpcomingEvents.Competitions
@using NTS.Judge.Contracts.Features.Setup.UpcomingEvents.Loops
@using NTS.Judge.Contracts.Features.Setup.UpcomingEvents.Officials
@using Not.Blazor.Components.Layout
@using Not.Krud.Blazor.Components

@attribute [Route(UPCOMING_EVENT_PAGE)]
@inherits UpcomingEventContentBehind

<NContent Title="@Configure_Endurance_Event_string" IsEmpty="Model == null">

    <Main>
        <UpcomingEventShell Model="Model">
            <AdditionalContent>
                <NGrid Spacing="8">

                    <MudItem xs="6">
                        <KrudList T="Competition" TModel="CompetitionFormModel" TShell="CompetitionShell" Name="@Competitions_string" AllowCreate AllowUpdate AllowDelete />
                    </MudItem>

                    <MudItem xs="6">
                        <KrudList T="Official" TModel="OfficialFormModel" TShell="OfficialShell" Name="@Officials_string" AllowCreate AllowUpdate AllowDelete />
                    </MudItem>

                    <MudItem xs="6">
                        <KrudList T="Combination" TModel="CombinationFormModel" TShell="CombinationShell" Name="@Combinations_string" AllowCreate AllowUpdate AllowDelete />
                    </MudItem>

                    <MudItem xs="6">
                        <KrudList T="Loop" TModel="LoopFormModel" TShell="LoopShell" Name="@Loops_string" AllowCreate AllowUpdate AllowDelete />
                    </MudItem>

                </NGrid>
            </AdditionalContent>
        </UpcomingEventShell>
    </Main>

</NContent>
