@attribute [Route(INQUIRY_PAGE)]
@inherits InquiryPageBehind

<NContent Title="@Inquiry_string">

    <Main>
        <NSelect T="InquiryType?" @bind-Value="Type" />

        <MudStack Row="true">
            @if (Type == InquiryType.HorseId || Type == InquiryType.AthleteId || Type == InquiryType.OfficialId)
            {
                <MudNumericField @bind-Value="SearchInt" Label="@Search_by_ID_colon_string" />
                if (SearchInt != null)
                {
                    <NButtonPrimary OnClick="x => Service.Search(SearchInt.Value)" Text="Search" />
                }
            }
            else
            {
                <MudTextField @bind-Value="SearchTerm" Label="@Search_by_name_colon_string" />
                if (SearchTerm != null)
                {
                    <NButtonPrimary OnClick="x => Service.Search(SearchTerm!)" Text="Search" />
                }
            }

        </MudStack>

        @if (!Service.Match?.Any() ?? true)
        {
            <MudTextField Value="@No_results_found_in_archive_string" />
        }
        else 
        {
            <MudTextField Value="Service.Match?.First()?.ToString()" />

            <MudSimpleTable>

                <MudTr>
                    <MudTh>
                        @Date_string
                    </MudTh>
                    <MudTh>
                        @Rank_string
                    </MudTh>
                    <MudTh>
                        @Event_string
                    </MudTh>
                    <MudTh>
                        @Stages_string
                    </MudTh>
                    <MudTh>
                        @Arrival_string
                    </MudTh>
                    <MudTh>
                        @Ride_string
                    </MudTh>
                    <MudTh>
                        @Speed_string
                    </MudTh>
                </MudTr>

                @foreach (var zz in Service.Match ?? [])
                {

                    var archive = zz.Participation;
                    var total = archive.GetTotal();
                    <MudTr>
                        <MudTd>
                            @archive.Phases.First().StartTime?.ToDateTimeOffset().ToString("yyyy-MM-dd")
                        </MudTd>
                        <MudTd>
                            @if (archive.Eliminated != null)
                            {
                                @archive.Eliminated
                                ;
                            }
                            else
                            {
                                @(zz.IsNotRanked
                                ? @Not_ranked_string : zz.Rank);
                            }
                        </MudTd>
                        <MudTd>
                            @archive.Competition.Name
                        </MudTd>
                        <MudTd>
                            @archive.Phases.Where(x => x.IsComplete()).Count() / @archive.Phases.Count()
                        </MudTd>
                        <MudTd>
                            @total?.FinishTime
                        </MudTd>
                        <MudTd>
                            @total?.RideInterval
                        </MudTd>
                        <MudTd>
                            @total?.AverageSpeed
                        </MudTd>
                    </MudTr>
                }

            </MudSimpleTable>
        }
        
    </Main>

</NContent>


